*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: #1e1e1e;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
}
.heading{
    text-align: center;
}
.input-group{
    margin-bottom: 15px;
}
label{
    display: block;
    margin-bottom: 10px;
}
input{
    width: 100%;
    padding: 8px;
    border-radius:5px ;
    border: none;
}
button {
  width: 100%;
  padding: 10px;
  background: #00bcd4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
button:hover{
    background:  #0097a7;
}
#result {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}
