*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
.container{
    background-color: #1e1e1e;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
}
.heading{
    text-align: center;
}
.input-group{
    margin-bottom: 15px;
}
label{
    display: block;
    margin-bottom: 10px;
}
input{
    width: 100%;
    padding: 8px;
    border-radius:5px ;
    border: none;
}
button {
  width: 100%;
  padding: 10px;
  background: #00bcd4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
button:hover{
    background:  #0097a7;
}
#result {
  margin-top: 15px;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  color: aliceblue;
}
.result-container{
    max-width: 420px;
    background: #535351;
    padding:20px ;
    border-radius: 22px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    animation: fadeIn 0.4s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#head_of_report {
  font-size: 26px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

#subhead_of_report {
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 15px;
}
#p_of_report {
  font-size: 14px;
  line-height: 1.6;
  color: #cccccc;
}
.normal {
  color: #4caf50;
}

.underweight {
  color: #ffc107;
}

.overweight {
  color: #ff9800;
}

.obese {
  color: #f44336;
}


